@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand img {
    height: 80px;
}

.hero {
    background-image: url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1 {
    background-color: rgba(0, 0, 0, 0.395);
}